/SecondWeek/nbproject/private/
/SecondWeek/build/
/ThirdWeek/nbproject/private/
/ThirdWeek/build/
/Third_Week/nbproject/private/
/FourthWeek/nbproject/private/
/FourthWeek/build/
/FifthWeek/nbproject/private/
/FifthWeek/build/
